body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #545c6a;
   /*  background: url(https://cdn.pixabay.com/photo/2014/12/15/15/36/cloth-569222_960_720.jpg); */
        background: url(https://cdn.pixabay.com/photo/2015/12/03/10/12/news-1074604__340.jpg); 

}
h1 {
   color: rgb(5, 62, 131);
   font-size: 4rem;
   font-family: 'Times New Roman', Times, serif;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}
footer .links {
    margin-top: 50px;
}

footer .links > a {
    color: #505050;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: uppercase;    
}
.copyright {
    color: rgb(70, 70, 70);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2rem;
}

.news {
    background-color: rgb(255, 255, 255);
    padding: 50px 0 32px;
}
article {    
    width: 768px;
    margin: auto;
    padding: 6px 15px;
    border-bottom: 1px solid #505050;
}
article a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
article a:hover {
    color: #db8515;
}
article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
   }
article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*Добавляем фон для каждой 2-й новости*/
article:nth-child(2n) {
    background: rgb(171, 213, 239);
}

/*Добавляем "New" перед заголовками новостей, относящихся к классу "New_marked" */
.New_marked h2::before {
    content: "New - ";
    }
